.content--details{
  width: 100%;
  height: 100%;
  overflow: hidden;
  &>.details--info{
    padding: 20px;
    box-sizing: border-box;
    &>.categories--details{
      display: flex;
      flex-direction: row;
      width: 100%;
      color: #FFFFFF;
      padding-bottom: 5px;
      &>span{
        margin: 0px 5px;
      }
    }
    &>.some--details{
      padding-bottom: 5px;
      &>*{
        margin: 0px 5px;
      }
    }
    &>.img--details{
      &>img{
        height: 100%;
      }
    }
  }
}