.content--view{
  padding-top: 0;
  min-height: calc(100vh - 245px);
  .main--bg{
    width: 100%;
    max-height: 80vh;
    position: fixed;
    top: 0;
    &>div{
      &>.image--bg {
        display: none;
        z-index: 0;
        width: 100%;
        aspect-ratio: 1.78;
      }
      &>.image--bg.active {
        display: block;
      }
      &>.video--bg {
        display: none;
        z-index: 0;
        width: 100%;
        aspect-ratio: 1.78;
      }
      &>.video--bg.active {
        display: block;
      }
    }
  }
  &>.main--content{
    padding-top: 30vw;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>.content--movies, .content--series, .content--documentaries{
      display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 5;
      padding: 10px 0px;
      &>div:first-child{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        &>h4{
          color: $white;
        }
      }
      &>div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        &>.movie--card{
          width: calc(25% - 20px);
          cursor: pointer;
          &>img{
            width: 100%;
          }
        }
        &>.custom--alerts{
          width: 100%;
        }
      }
    }
  }
}