.footer{
  margin: auto;
  width: 100%;
  background: #0e0b14;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  &>div:first-child{
    padding-top: 20px;
  }
  &>div:nth-child(2){
    display: flex;
    margin: 0px auto;
    justify-content: center;
    flex-flow: wrap;
    max-width: 500px;
    &>span{
      font-size: 12px;
      letter-spacing: -.1px;
      line-height: 1.5;
      margin: 11px 5px 10px;
      padding: 1px 6px;
    }
    &>div{
      font-size: 12px;
      letter-spacing: -.1px;
      line-height: 1.5;
      width: auto;
      text-align: center;
    }
  }
  &>div:last-child{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 12px;
    letter-spacing: -.1px;
    line-height: 1.5;
  }
}