.custom--layout {
  min-height: 100vh;
  &>.navbar{
    height: 75px;
    background: transparent;
  }
  &>.navbar.navbar--scrolling{
    background: #0e0b14;
  }
  &>.custom--view{
    padding-top: 75px;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(26, 29, 41);
  }
  &>footer{
    height: 245px;
  }
}

@import './footer.scss'