.custom--layout {
  min-height: 100vh;
  &>.navbar{
    height: 75px;
  }
  &>.custom--view{
    height: auto;
    box-sizing: border-box;
    background-color: rgb(26, 29, 41);
  }
  &>footer{
    height: 245px;
  }
}

@import './footer.scss';
@import './navigationBar.scss';